/.DS_Store
/.HealthComp/HealthComp.xcodeproj/project.xcworkspace/xcuserdata/philliple.xcuserdatad/UserInterfaceState.xcuserstate 
/.HealthComp/HealthComp.xcodeproj/xcuserdata/philliple.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
